// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.font-blod{
    font-weight: bold !important;
}

.font-money{
    color:$money;
}
.font-size-default{
    font-size: 1rem;
}
.font-size-1-4{
    font-size: 1.4rem;
}
.font-size-large{
    font-size: 2.3rem;
}
.font-color-gary{
    color:gray;
}
.padding-bg{
    display: inline-block;
    padding:2px 10px;
    background:lighten(black,85%);
    border-radius: 2px;
}

.mhr {
    width: 100%; 
    text-align: left; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.16); 
    line-height: 0.1em;
    span { 
        background:#fff;
        padding:0 10px 0 0 ; 
    }
 } 


.note{
    line-height: 37px;
}
.font-pin{
    font-size: 0.5em;
    color:$gray;
}